:root {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.8em;
}
button {
  font: inherit;
  border: none;
  padding: 0;
  background: transparent;
  color: #888;
  &:not(:disabled):hover {
    cursor: pointer;
    opacity: .5;
  }
}
input {
  font: inherit;
  border: none;
  border-bottom: 1px dashed black;
}
